[submodule "experiment_runner"]
	path = experiment_runner
	url = git@github.com:sbuschjaeger/experiment_runner.git
	branch = master
[submodule "prime"]
	path = ShrubEnsembles
	url = git@github.com:sbuschjaeger/ShrubEnsembles.git
	branch = main
