[submodule "experiment_runner"]
	path = experiment_runner
	url = git@github.com:sbuschjaeger/experiment_runner.git
	branch = master
[submodule "prime"]
	path = prime
	url = git@github.com:sbuschjaeger/prime.git
	branch = main
